.grid {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  width: fit-content;
}

.cell {
  background-color: var(--cell-color);
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
}
